<section class="sb pt-5">
    <div class="container sb">
        <div class="row">
            <div class="col-lg-7 pb-9 pb-lg-0" data-dpk-call="appearTitle">
                <h3>
                    Want to work with us? Fill out this short form for any enquiries.
                </h3>

                <div class="w-lg-50 mt-5">
                    <p class="appear-y" data-dpk-call>
                        We are dedicated to providing you with swift assistance and will
                        make every effort to get back to you as promptly as possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-5">
                <form action="#" class="dpk-form row gx-3 gy-4">
                    <div class="col-md-6">
                        <input type="text" placeholder="John" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Smith" />
                    </div>

                    <div class="col-md-6">
                        <input type="email" placeholder="Email" />
                    </div>
                    <div class="col-md-6">
                        <input type="text" placeholder="Phone" />
                    </div>

                    <div class="col-md-6">
                        <input type="text" placeholder="Company" />
                    </div>

                    <div class="col-md-6">
                        <input type="text" placeholder="Subject" />
                    </div>

                    <div class="col-12">
                        <textarea rows="5" placeholder="Enter your Message" spellcheck="false"></textarea>
                    </div>

                    <div class="col-12 text-end">
                        <input class="submit-btn" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="col-12 text-center">
            <img src="{{ theme.link ~ '/src/img/logo.svg'}}" alt="" />
            <div class="mt-6">
                <a href="#" class="linehover me-5"> Instagram </a>
                <a href="#" class="linehover"> LinkedIn </a>
            </div>
        </div>

        <div class="row pb-5 pt-8">
            <div class="col-md-4 col-6">
                <a href="#" class="linehover me-5"> CAIIS © 2024 </a>
            </div>
            <div class="col-md-4 col-6 text-md-center text-end">
                <a href="#" class="linehover me-lg-5"> Privacy Policy </a>
            </div>
            <div class="col-md-4 h-sm text-end">
                <a href="#" class="linehover me-5"> Back to top </a>
            </div>
        </div>
    </div>
</footer>