.bg-white {
  background-color: white;
}

.text-white {
  color: white;
}

.bg-blue {
  background-color: var(--blue);
}

.text-blue {
  color:  var(--blue);
}


.bg-cream {
  background-color: var(--cream);
}

.text-cream {
  color:  var(--cream);
}





.bg-blue {
  background-color: var(--blue);
}

.text-blue {
  color:  var(--blue);
}
