 @font-face {
   font-family: aeonik;
   src: url("./font/Aeonik-Bold.ttf") format("truetype");
   font-weight: bold;
 }


 @font-face {
   font-family: aeonik;
   src: url("./font/Aeonik-Regular.ttf") format("truetype");
   font-weight: 400;
 }


 @font-face {
   font-family: aeonik;
   src: url("./font/Aeonik-Light.ttf") format("truetype");
   font-weight: 300;
 }